:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --neutral-white: hsl(0, 0%, 100%);
}

html, body {
    background-color: var(--primary-cream);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.card {
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    background: var(--neutral-white);
}

#product-img {
    width: 50%;
    object-fit: cover;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-content {
    display: flex;
    background-color: var(--neutral-white);
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 20px;
    gap: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#top-text {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.new-price {
    font-size: 2em;
    color: var(--primary-dark-cyan);
    font-family: "Fraunces", serif;
    font-weight: bold;
}

.prices {
    display: flex;
    align-items: center;
    gap: 20px;
}

h1 {
    font-family: "Fraunces", serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--primary-dark-cyan);
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: hsl(158, 36%, 30%);
}

.button i {
    margin-right: 8px;
}

.icon {
    width: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive: Stack Image on Top for Mobile */
@media (max-width: 600px) {
    .card {
        flex-direction: column; 
        width: 90%;
    }

    #product-img {
        width: 100%; 
        height: auto; 
        border-radius: 10px 10px 0 0;
        content: url('./images/image-product-mobile.jpg');
    }

    .card-content {
        width: 100%; 
        border-radius: 0 0 10px 10px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
